@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato:wght@300&family=Montserrat:wght@300&display=swap');


* {
    padding: 0;
    margin: 0;
    border: none;
}

body{
    font-family: montserrat, sans-serif;
    background-color: rgb(24, 67, 21);
    color: #000;
}

/* logo and heading */

header{
    color: #fff;
    line-height: 30px;
    padding: 30px;
    height: 30px;
    background-color: #D9E1F1;
    width: 100%;
}

#logo {
    float: left;
    font-size: 150%;
    margin-left: 30px;
    color: #000;
}

h1 {
    font-family: Dancing Script, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgb(6, 2, 23);
    
}

/* navigation menu links */

#menu {
    font-size: 120%;
    letter-spacing: 2px;
    color: #000;
    
}

#navigation-menu li {
    float: right;
    margin-right: 30px;
    list-style-type: none;
}

#navigation-menu li:hover {
    color: #fff;
    background-color: rgb(24, 67, 21);
}

#navigation-menu a {
    text-decoration: none;
    color: inherit;
}

/* main image */

#main-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#main-photo {
    background: url('..assets/photos/James-Island-Gambia.jpeg') no-repeat center center;
    height: 600px;
    width: 100%;

}

#cover-text {
    font-size: 20px;
    font-family: monstserrat, sans-serif;
    letter-spacing: 3px;

    width: 500px;
    height: 400px;

    padding-top: 30px;
    padding-left: 20px;

    background-color: rgba(3, 9, 20, 0.6);

    bottom: 30px;
    right: 200px;

    position: absolute;
    color: #fff;
    border: 1px solid black;
}

/* Middle */

#main-middle {
    margin: 90px;
}

#middle-row {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 50px;
    margin-left: 15px;

    padding-top: 40px;
    padding-bottom: 40px;
}

.left-paragraph {
    float: left;
    line-height: 25px;
    clear: both;
    font-size: 100%;

    padding: 24px;
    width: 50%;
    height: 100px;
    width: 600px;
    color: #fff;
}

.left-image{
    margin: 15px;
    border: 1px solid #D9E1F1;
}

/* ethnic group */
 
.tribe-group {
    width: 100%;
    height: 100%;
}

  .gambia-tribe {

    font-family: monstserrat, sans-serif;
    letter-spacing: 4px;

    width: 500px;
    height: 900px;

    padding-top: 30px;
    padding-left: 20px;

    background-color: rgba(3, 9, 20, 0.6);

    bottom: 30px;
    right: 200px;
    top: 100px;

    position: absolute;
    color: #fff;
    border: 1px solid black;
}

.gambia-tribe a {
    text-decoration: none;
    color: rgb(97, 165, 52);
    font-size: 20px;
}

#ethnicity-video {
    margin: 30px;
}

#about-ethnicity-video {
    width: 600px;
    height: 500px;
}

/* video */

#wrapper { 
    width: 600px; 
    height: 500px; 
    margin: 0 auto;

    display: inline;
    margin-left: 65px;
}

#gambian-song { 
    width: 600px; 
    height: 500px; 
    margin: 20px;
}

#gambian-video { 
    width: 600px; 
    height: 500px;
    margin: 20px; 
    
}

.clear {
    clear: both;
}

/* newsletter */

#signup-image {
    background: url('..assets/photos/stone-circle.jpeg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


.signup-form {
    margin: 150px 10% 0 0;
    color: #fff;
    background-color: rgba(3, 9, 20, 0.6);
    max-width: 400px;
    position: absolute;
    left: 10%;
    top: 60px;
    padding: 40px;
}

.signup-form > h2 {
    color: #fafafa;
    margin-bottom: 25px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: rgb(101, 119, 10);
}

.signup-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: rgb(24, 67, 21);
    color: #fafafa;
    display: block;
}

.signup-button:hover {
    background-color: rgb(101, 119, 10);
    color: #fff;
}

.condition {
    color: rgb(99, 129, 197);
}

/* footer */

footer {
    background-color: #D9E1F1;
    height: 125px;
    margin: 0 auto;
    
}




#media {
    text-align: center;
    padding: 40px;
   
    
}

#media li {
    display: inline;
    list-style-type: none;
    padding-top: 15px;

    margin: 30px;

   
    display: inline;

}

#media a{
    text-decoration: none;
    color: #000;
   
}

#media a:hover {
    background-color: rgb(24, 67, 21);
    color: #fff;
}

/* media queries */

/* for larger to medium screen size from 1200px wide and down */

@media screen and (max-width: 1200px) {
    #middle-section {
        width: 65%;
        height: 1700px;
        margin: 0 auto;
    }

    #main-middle {
        padding: 40px 0;
        margin: 0;
    }

    #gambian-video {
        width: fit-content;
    }

    #gambian-song{
        width: fit-content;
    }
}

/* For media screen sizes from 950px wide and down */
@media screen and (max-width: 950px) {

    header {
    height: 130px;
    background-color: #D9E1F1;
    width: 100%;
    }

    #menu > li {
        clear: both;
        float: left;
        margin-left: 30px;
        margin-bottom: 40px;
        line-height: 25px;
       
    }

    #cover-text {
        width: fit-content;
        height: fit-content;
        left: 3px;
    }
    
    #middle-section {
        width: 30%;
        height: 2050px;
        margin: 0 auto;
        float: left;
    }

    .left-paragraph {
    padding: 24px;
    width: 300px;
    height: 200px;
    }

    #wrapper {
        width: 300px;
        height: 100px;
    }

    .left-image {
        margin-top: 80px;
    }

    footer {
        height: 160px;
        width: 100%;
    }
    
/* ethnic group */

    .tribe-group {
        height: 1600px;
    }


    .gambia-tribe {
        width: 300px;
        height: 1500px;
        left: 30px;
       padding-top: 30px;
       margin-top: 90px;
       bottom: 50%;
    }

    #about-ethnicity-video{
        height: 500px;
        width: 400px;
    }




    /* sign up */

    #form {
        height: 1100px;
        margin-bottom: 1100px;
    }
    
@media screen and (max-width: 800px) {
    #photos {
        column-count: 2;
    }
}
}