@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato:wght@300&family=Montserrat:wght@300&display=swap');


* {
    padding: 0;
    margin: 0;
    border: none;
}

body{
    font-family: montserrat, sans-serif;
    background-color: rgb(173, 189, 172);
    color: #000;
    overflow-x: hidden !important;
}

/* logo and heading */

header{
    color: #fff;
    line-height: 30px;
    padding: 30px;
    height: 90px;
    background-color: #D9E1F1;
    width: 100%;
    
}

#logo {
    float: left;
    font-size: 150%;
    margin-left: 5px;
    color: #000;

    font-family: Dancing Script, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}



/* navigation menu links */


    #menu {
        font-size: 120%;
        letter-spacing: 2px;
        color: #000;
        right: 20px;
        margin-right: 90px;
        
        
    }
    
    #menu li {
        float: right;
       
        list-style-type: none;
        
        padding: 10px;
    }
    
    
    #navigation-menu li:hover {
        color: #fff;
        background-color: rgb(24, 67, 21);
    }
    
    #navigation-menu a {
        text-decoration: none;
        color: inherit;
    }
    
/* main image */

#main-outer {
    height: 600px;
    width: 100%;
    
    overflow: hidden;

    position: relative;
}

#main-photo {
    
    height: 600px;
    width: 100%;

}

#cover-text {
    font-size: 20px;
    font-family: monstserrat, sans-serif;
    letter-spacing: 3px;

    width: 500px;
    height: 400px;

    padding-top: 30px;
    padding-left: 20px;

    background-color: rgba(3, 9, 20, 0.6);

    bottom: 30px;
    right: 200px;

    position: absolute;
    color: #fff;
    border: 1px solid black;
}

/* Middle */

#main-middle {
    margin: 100px;
}

.left-paragraph {
    float: left;
    line-height: 25px;
   
    font-size: 100%;

    padding: 24px;
    
    height: 100px;
    width: 600px;
    color: rgb(74, 72, 72);
}

#capital-image{
    margin: 15px;
    margin-bottom: 40px;
    margin-left: 70px;
    width: 450px;
    height: 250px;
}

#agric-image {
    margin: 10px;
    margin-bottom: 40px;
    margin-left: 70px;
    border: 1px solid #D9E1F1;
    width: 450px;
    height: 250px;
}

#tourist-image{
    margin: 15px;
    margin-bottom: 40px;
    margin-left: 70px;
    border: 1px solid #D9E1F1;
    width: 450px;
    height: 250px;
}

/* ethnic group */
 
#tribe-group {
    width: 100%;
    height: 100%;

    overflow: hidden;
    display: block;
}

  .gambia-tribe {

    font-family: monstserrat, sans-serif;
    letter-spacing: 4px;

    width: 500px;
    height: 900px;

    padding-top: 30px;
    padding-left: 20px;

    background-color: rgba(3, 9, 20, 0.6);

    bottom: 30px;
    right: 200px;
    top: 150px;

    position: absolute;
    color: #fff;
    border: 1px solid black;
}

.gambia-tribe a {
    text-decoration: none;
    color: rgb(97, 165, 52);
    font-size: 20px;
}

#ethnicity-video {
    margin: 30px;
}

#about-ethnicity-video {
    width: 600px;
    height: 500px;
}

/* video */

#wrapper { 
    width: 600px; 
    height: 500px; 
    margin: 0 auto;

    display: inline;
    margin-left: 65px;
}

#gambian-song { 
    width: 600px; 
    height: 500px; 
    margin: 20px;
}

#gambian-video { 
    width: 600px; 
    height: 500px;
    margin: 20px; 
    
}

.clear {
    clear: both;
}

/* newsletter */

#stone-circle-image {
    width: 100%;
    height: 100%;
   
    background-position: center;
    background-attachment: fixed;
   
}


.signup-form {
    margin: 150px 10% 0 0;
    color: #fff;
    background-color: rgba(3, 9, 20, 0.6);
    max-width: 400px;
    position: absolute;
    left: 10%;
    top: 60px;
    padding: 40px;
}

.signup-form > h2 {
    color: #fafafa;
    margin-bottom: 25px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: rgb(101, 119, 10);
}

.signup-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: rgb(24, 67, 21);
    color: #fafafa;
    display: block;
}

.signup-button:hover {
    background-color: rgb(101, 119, 10);
    color: #fff;
}

.condition {
    color: rgb(99, 129, 197);
}

/* footer */

footer {
    background-color: #D9E1F1;
    height: 125px;
    margin: 0 auto;
    width: 100%;
    
}




#media {
    text-align: center;
    padding: 40px;
   
    
}

#media li {
    display: inline;
    list-style-type: none;
    padding-top: 15px;

    margin: 30px;

   
    display: inline;

}

#media a{
    text-decoration: none;
    color: #000;
   
}

#media a:hover {
    background-color: rgb(24, 67, 21);
    color: #fff;
}

/* media queries */

/* for larger to medium screen size from 1000px wide and down */

@media screen and (max-width: 900px) {

    body {
        overflow-x: hidden !important;
    }

    #menu{
        
        clear: both;
        float: left;
        margin-left: 10px;
        line-height: 25px;
    }


    #middle-section {
        width: 65%;
        height: 1600px;
        margin: 0 auto;
    }

    #main-middle {
        padding: 40px 0;
        margin: 0;
    }

    #gambian-video {
        width: fit-content;
    }

    #gambian-song{
        width: fit-content;
    }

    /* ethnic groups */

    
    footer {
 
            height: 100%;
            width: 100%;
    }
}

/* For media screen sizes from 600px wide and down */
@media screen and (max-width: 600px) {

    body {
        overflow-x: hidden !important;
    }

    header {
    height: 130px;
    background-color: #D9E1F1;
    width: 100%;
    }

    #menu{
        
        clear: both;
        float: left;
        margin-left: 10px;
        line-height: 25px;
    }

    #menu li {
        
        padding: 2px;
        padding-right: 20px;
        margin: 0 auto;
    }


    #cover-text {
        width: fit-content;
        height: fit-content;
        left: 3px;
    }
    
    #middle-section {
        width: 30%;
        height: 1720px;
        margin: 0 auto;
        float: left;

    }

    .left-paragraph {
    padding: 24px;
    width: 300px;
    height: 250px;
    }

    #wrapper {
        width: 300px;
        height: 100px;
        margin: auto;
    }

    #capital-image{
        width: 200px;
        height: 150px;
    }
    
    #agric-image {
        width: 200px;
        height: 150px;
    }
    
    #tourist-image{
        width: 200px;
        height: 150px;
    }

    footer {
        height: 100%;
        width: 100%;
    }
    
/* ethnic group */


.ethnics {
    height: 1700px;
}

    #tribe-group {
        height: 100%;
        width: 400px;
    }


    .gambia-tribe {
        width: 350px;
        height: 1300px;
        left: 5px;
       padding-top: 25px;
       margin-top: 350px;
       bottom: 800px;
    }

    #gambian-song {
        margin: 40px;
        
        
    }


    #about-ethnicity-video{
        height: 500px;
        width: 300px;
    }




    /* sign up */

    #form {
        
        margin-bottom: 1100px;
    }

    #signup-newsletter {
        height: 700px;
    }
    
    #stone-circle-image {
        height: 600px;
        width: 100%;
    }
}