@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato:wght@300&family=Montserrat:wght@300&display=swap');


* {
    padding: 0;
    margin: 0;
    border: none;
}

body{
    font-family: montserrat, sans-serif;
    font-weight: 300;
    background-color: rgb(24, 67, 21);
    color: #000;
}

/* logo and heading */

header{
    color: #fff;
    line-height: 30px;
    padding: 30px;
    height: 30px;
    background-color: #D9E1F1;
}

#logo {
    float: left;
    font-size: 150%;
    margin-left: 30px;
    color: #000;
}

h1 {
    font-family: Dancing Script, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgb(6, 2, 23);
    
}

/* navigation menu links */

#menu {
    font-size: 120%;
    letter-spacing: 2px;
    color: #000;
    
}

#navigation-menu li {
    float: right;
    margin-right: 30px;
    list-style-type: none;
}

#navigation-menu li:hover {
    color: #fff;
    background-color: rgb(24, 67, 21);
}

#navigation-menu a {
    text-decoration: none;
    color: inherit;
}

/* main image */

#main-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#main-photo {
    background: url('..assets/photos/James-Island-Gambia.jpeg') no-repeat center center;
    height: 600px;
    width: 100%;

}

#cover-text {
    font-size: 140%;
    font-family: monstserrat, sans-serif;
    letter-spacing: 4px;

    width: 500px;
    height: 400px;

    padding-top: 30px;
    padding-left: 20px;

    background-color: rgba(3, 9, 20, 0.6);

    bottom: 30px;
    right: 200px;

    position: absolute;
    color: #fff;
    border: 1px solid black;
}

/* Middle */

#main-middle {
    margin: 90px;
}

#middle-row {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 50px;
    margin-left: 15px;

    padding-top: 40px;
    padding-bottom: 40px;
}

.left-paragraph {
    float: left;
    line-height: 25px;
    clear: both;
    font-size: 100%;

    padding: 24px;
    width: 50%;
    height: 100px;
    width: 600px;
    color: #fff;
}

.left-image{
    margin: 15px;
    border: 1px solid #D9E1F1;
}

/* ethnic group */
 
.tribe-group {
    width: 100%;
    height: 100%;
}

  .gambia-tribe {

    font-family: monstserrat, sans-serif;
    letter-spacing: 4px;

    width: 500px;
    height: 900px;

    padding-top: 30px;
    padding-left: 20px;

    background-color: rgba(3, 9, 20, 0.6);

    bottom: 30px;
    right: 200px;
    top: 100px;

    position: absolute;
    color: #fff;
    border: 1px solid black;
}

.gambia-tribe a {
    text-decoration: none;
    color: rgb(97, 165, 52);
    font-size: 20px;
}

/* video */

#wrapper { 
    width: 600px; 
    height: 500px; 
    margin: 0 auto;

    display: inline;
    margin-left: 65px;
}

#gambian-song { 
    width: 600px; 
    height: 500px; 
    
    margin: 20px;
}

#gambian-video { 
    width: 600px; 
    height: 500px;
    margin: 20px; 
    
}

.clear {
    clear: both;
}
/* footer */

footer {
    background-color: #D9E1F1;
    height: 125px;
    margin: 0 auto;
    
}




#media {
    text-align: center;
    padding: 40px;
   
    
}

#media li {
    display: inline;
    list-style-type: none;
    padding-top: 15px;

    margin: 30px;

   
    display: inline;

}

#media a{
    text-decoration: none;
    color: #000;
   
}

#media a:hover {
    background-color: rgb(24, 67, 21);
    color: #fff;
}

